body {
  width: 100%;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.VideoGrid {
  margin-bottom: 20px;

  /* background-color: white;
  border: solid 1px #d3d3d3;
  padding: 10px; */
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 16px;
  background-color: white;
  border: solid 1px #d3d3d3;
  padding: 10px;
  min-height: 505px;

  /* justify-content: space-between; */
}

.HomePage {
  width: 100%;
}

.VideoBox {
}

.VideoBox > img {
  width: 100%;
}

.VideoBox > img:hover {
  cursor: pointer;
  opacity: "80%";
}

.VideoBox > h1 {
  font-size: 16px;
  margin: 0px;
}

.VideoBox > p {
  margin: 0px;
  color: grey;
}

/* NAVBAR */

.NavBar {
  background-color: #0d3f69;
  height: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navContainer {
  /* max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: red;
  margin-right: auto;
  margin-left: auto; */

  width: 1442px;

  /* margin-right: auto;
  margin-left: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 16px;

  color: white;
}

.left-nav {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.brand {
  font-weight: bold;
}

.brand:hover {
  color: white !important;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  width: 20%;
}

.left-nav > b {
  margin-right: 25px;
}

.left-nav > a {
  margin: 0 25px 0 0;
}

.left-nav > a,
.left-nav > button {
}

.iFrame {
  width: 100%;
  height: 1000px;
}

.VideoPlayer {
  width: 100%;
  margin-top: 16px;
}

.video-con {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  /* height: 0; */
  overflow: hidden;
  margin-bottom: 16px;
  /* max-height: 50vh; */
  /* max-width: 900px; */
}

.video-con iframe,
.video-con object,
.video-con embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* max-height: 80vh; */

  /* height: 100%; */
}

.video-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-description > h1 {
  margin: 0px;
}

.right-description {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.right-description > button {
  margin-left: 16px;
}

.description-sub {
  display: flex;
  margin-top: 5px;
  color: grey;
}
.video-description > h1,
p {
  margin: 0px;
}

.ratings {
  display: flex;
}

.ratings > div {
  margin-right: 16px;
}

.box-rating {
  display: flex;
  color: grey;
}

.box-rating > p {
  margin-right: 6px;
  margin-left: 6px;
}

.box-rating > i {
  margin-right: 6px;
}

.video-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
}

.grid-heading > h3 {
  margin-right: 16px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.grid-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  height: 50px;
}

.left-nav > a {
  display: flex;
  align-items: center;
}

a:hover {
  color: grey;
}

.left-nav > a {
  color: white;
}

.left-nav > a:hover {
  color: grey;
}

.search-box {
  height: 20px;
  /* width: 100%; */
}

.search {
  width: 100%;
}

.search-items {
  position: absolute;
  right: 1rem;
  top: 4rem;
  background-color: white;
  color: black;
  width: 100%;
  border: solid black 1px;
  z-index: 999;
  max-width: 216px;
}

.search-item {
  border-bottom: 1px grey solid;
  height: 50px;

  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px;
}

.search-item:hover {
  background-color: #ededed;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fa-caret-down {
  margin-left: 5px;
}

.google {
  margin-left: 16px;
}

.fa-search {
  color: white;
}

.fa-search:hover {
  cursor: pointer;
}

.rating-error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

/* NAV TUTORIAL */
nav {
  background: black;

  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

/* li > a {
  color: white;
  text-decoration: none;
  display: block;
} */

li > a:hover {
  text-decoration: underline;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}

.menu li a {
  display: block;
}

.logo a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile meny */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.try-times {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 500px;
}

.form-heading {
  text-align: center;
  font-size: 12px;

  font-weight: bold;
}

.form-name {
  font-size: 12px;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
  display: none;
}
input[type="time"]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: -10px;
}

.errorDiv {
  text-align: center;
}

.submitButton {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  height: 40px;
}

/* Tablet menu */

@media all and (min-width: 486px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1px;
    display: block;
  }
}

/* NAVTABS */

.NavTabs {
  display: flex;
  margin-bottom: 10px;
}

.NavTabs > nav {
  background-color: white;
  padding-left: 0px !important;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
}

.NavTabs > nav > ul {
  padding: 0px;
  margin-bottom: 0px;
}

.NavTabs > nav > ul > a {
  margin-right: 25px;
}

.NavTabs > nav > ul > a:hover {
  cursor: pointer;
  border-bottom: 5px solid #0d3f69;
  color: black !important;
}

#activeTab {
  border-bottom: 5px solid #0d3f69;
}

.grid-title {
  margin-bottom: 0px;
}

.main-feed {
  width: 100%;
}

.side-feed {
  width: 20%;
  min-width: 200px;
}

.feed {
  width: 100%;
  display: flex;
}

.checkOption {
  display: flex;
  margin-bottom: 10px;
}

.checkOption > input {
  margin-right: 10px;
}

.Filter {
  display: flex;
  float: right;
}

.Filter > p {
  margin-right: 10px;
}

.FilterPanel {
  border: solid 1px #d3d3d3;
  padding: 10px;
}

.Pagination > ul {
  display: flex;
  justify-content: center;
}

.Pagination > ul > li {
  margin-left: 10px;
}

.action-button {
  border-radius: 20px;
  background-color: #0d3f69;
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.action-button:hover {
  cursor: pointer;
  border: solid white 2px;
}

.video-grid-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* NavBar v3 */
.navbar_v3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0d3f69;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: white !important;
}

.brand-title > a {
  color: white;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: teal;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.search {
  /* display: none; */
  width: 30px;
  height: 21px;
  margin-left: auto;
}

.search-input {
  display: none;
}

.mobile-search {
  display: none;
}

.secondary-links {
  display: none;
}

/* .secondary-link.active {
  display: block;
} */

/* .secondary-links {
  background-color: #0d3f69;
  padding-top: 3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
} */

@media (max-width: 500px) {
  .video-description {
    justify-content: flex-start;
  }

  .left-description {
    margin-bottom: 10px;
  }

  .video-grid {
    display: flex;
    flex-direction: column;
  }

  .FilterPanel {
    margin-bottom: 10px;
  }

  .brand-title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  /* .left-nav {
    width: 100%;
  }

  .right-nav {
    width: 100%;
  } */

  .toggle-button {
    display: flex;
  }

  .mobile-search {
    display: flex;
  }

  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .search-input {
    display: block;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    height: 2rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar_v3 {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  /* .navbar-links.active {
    display: flex;
  } */

  .dropdown > ul {
    background-color: teal;
  }

  /* .secondary-link.active {
    display: block !important;
  } */

  .secondary-links.active {
    display: block;
  }

  .web-search {
    display: none !important;
  }

  .mobile-search-button {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
  }

  .ignore-mobile {
    display: none;
  }
}

@media (min-width: 500px) {
  .secondary-links {
    position: absolute;
    background-color: #0d3f69;
  }

  .primary-link:hover > .secondary-links {
    display: block !important;
  }

  .search {
    position: relative;
    justify-self: flex-end;
  }

  .web-search {
    display: flex;
    margin-left: auto;
  }

  .mobile-search {
    display: none;
    width: 20rem;
  }
}
